.App {
  text-align: center;
}

.form-box {
  height: 300px;
  width: 400px;
  margin: auto;
  padding-top: 40vh;
}

.upload-button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(164, 164, 192);
  box-shadow: 2px 2px 8px black;
  margin: 5px 0;
  color: white;
  font-size: 1.1rem;
}

.upload-button:active {
  box-shadow: 1px 1px 4px black;
  transition: 0.2s;
}

.message {
  padding: 5px;
  width: 250px;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
}

.error {
  border: 1px solid rgb(206, 158, 158);
  background: rgb(160, 104, 104);
}

.status {
  border: 1px solid rgb(165, 158, 206);
  background: rgb(164, 164, 192);
}
